
.git/*

doc/*
log/*
data/*
test/jupyter/*
__pycache__/

config/model/*.bin
config/model/bert/*.*

#### jupyter
*/**/.ipynb_checkpoints/

#### pycharm 
*/**/.idea/
.idea/

#### python
*/**/__pycache__/

#### pyspark
*/spark-warehouse/
*/metastore_db/

#### R
*/**/.Rhistory




