
.git/*

log/*.log
test/jupyter/*
config/model/*.bin
config/model/bert/*.*
config/model/*

#### jupyter
*/.ipynb_checkpoints/
*/*.ipynb
*.ipynb

#### pycharm 
*/**/.idea/
.idea/

#### python
*/**/__pycache__/
__pycache__/

#### pyspark
*/spark-warehouse/
*/metastore_db/

#### R
*/**/.Rhistory




